html, body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: var(--font-size);
  font-family: 'Rubik', var(--fallback-font); 
}
* { box-sizing: border-box; }
body { 
  background-color: #111111;
  color: #aaaaaa;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5em;
  font-weight: 900;
  color: white;
}
h2 {
  font-size: 2.8em;
}